# Replace these with your actual values
resource_group_name  = "rg-siyuan-prod"
location             = "swedencentral"
project_name         = "azure-xiaoxi-siyuan"
storage_account_name = "stsiyuanprod001" # Must be globally unique
siyuan_auth_code     = "<YOUR_SIYUAN_AUTH_CODE>"
timezone             = "Europe/Stockholm"

# Container sizing
container_cpu    = 0.5
container_memory = "1Gi"
min_replicas     = 1
max_replicas     = 1

# Azure AI Foundry serverless endpoint variables
# serverless_model_id = "DeepSeek-R1"
openai_model_name = "gpt-5.6-terra"
openai_deployment_name = "gpt-5.6-terra-deployment"
openai_model_version = "2026-07-09"
# serverless_sku_name = "Consumption"